*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100vw;
    margin: auto;
    background-color: navy;
    color: white;
    text-align: center;
}
.header a {
    color: lightblue;
    /* text-decoration: none; */
    margin-right: 12px;
}
.header div{
    margin-top: 5px;
}


.aboutme h2{
    text-align: center;
}
.aboutme img{
    width: 250px;
    margin-bottom: 20px;
}

.details h2{
    text-align: center;
}
/*  */
.MovieApp13June{
    display: flex;
}

.movie-container{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    border: 2px solid red;
    width: 80%;
}
.movie-item{
    border: 2px solid yellow;
}
.movie-item img{
    width: 300px;
}
.details{
    border: 2px solid green;
    padding: 100px 10px;
    overflow: hidden;
}
